body {
  background-color: #f3f5f7;
}

.header-wrapper-first {
  background-color: #ffffff;
  height: 60px;
}

.header-wrapper-second {
  background-image: url(../images/header.png);
}

.header-logo {
  height: 60px;
  margin: 0 auto;
}

.header-logo a {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  color: #ee364f;
  text-decoration: none;
  line-height: 60px;
}

.header-logo a:last-child {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  color: #333333;
  margin-right: 9%;
}

.header-logo a:last-child {
  float: right;
}

.header-logo a:last-child img {
  float: right;
  margin-right: 0;
  margin-left: 20px;
}

.header-logo img {
  float: left;
  margin-right: 10px;
  margin-left: 9%;
  width: 30px;
  margin-top: 15px;
}

.header-content {
  position: relative;
  height: 320px;
  margin: 0 auto;
}

.header-content h1 {
  font-family: Roboto, sans-serif;
  font-size: 48px;
  font-weight: bold;
  text-align: left;
  float: left;
  color: #333333;
}

.today-costs h2 {
  font-family: Roboto, sans-serif;
  font-size: 40px;
  font-weight: bold;
  text-align: left;
  color: #333333;
}

.header-content h3 {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  color: #333333;
}

.header-numbers {
  margin-top: 90px;
  margin-left: 10%;
  position: absolute;
  width: 42%;
}

.header-numbers .balance {
  margin-right: 18%;
  float: left;
}

.header-numbers .today-costs {
  margin-top: 8px;
}

.gallery-flex-container {
  margin: 25px 0 0 40px;
  display: flex; /* Флексы */
  height: 145px; /* Высота */
  color: #fff; /* Белый цвет текста */
  font-size: 2.6em; /* Размер шрифта */
  flex-flow: column wrap; /* Располагаем в виде колонок */
  width: 450px;
  float: right;
}

.wallet-flex-container {
  display: flex;
  flex-flow: row;
  float: left;
  bottom: 36px;
  position: absolute;
  margin-left: 9%;
  width: 41%;
}

.flex-wallet {
  width: 37%;
  height: 80px;
  border: solid 2px #eeeeee;
  background-color: #ffffff;
  border-radius: 2px;
  position: relative;
  text-align: center;
  cursor: pointer;
  margin-right: 10px;
}

.flex-wallet div:last-child {
  float: left;
  max-width: 80px;
}

.flex-wallet img {
  float: left;
  margin-top: 25px;
  margin-right: 8%;
  margin-left: 8%;
}

.plus img {
  margin-top: 15px;
  margin-left: 60px;
}

.flex-wallet p {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  text-align: left;
  color: #333333;
  margin-top: 25px;
  word-wrap: break-word;
}

.flex-wallet p:last-child {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  color: #333333;
  margin-top: 0;
}

.wallet-flex-container a:last-child {
  position: absolute;
  bottom: 32px;
}

.header-content .wallet {
  float: right;
}

.header-content .wallet a {
  margin-right: 15px;
}

.goals-container {
  width: 45.3%;
  overflow: hidden;
  height: 320px;
  padding-right: 0;
  float: right;
}

.goals-picture {
  width: 100%;
  height: 320px;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.goals-item {
  overflow: hidden;
  position: relative;
  height: 320px;
  -webkit-clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 100%);
}

.bg {
  opacity: 1;
  z-index: 2;
  position: absolute;
  display: table;
  width: 100%;
  height: 320px;
  background-color: rgba(22, 41, 53, 0.32);;
}

.bg h2 {
  margin-bottom: 20px;
  margin-left: 6%;
  width: 256px;
  font-family: Roboto, sans-serif;
  font-size: 36px;
  font-weight: bold;
  text-align: left;
  color: #FFFFFF;

}

.bg h6 {
  margin-left: 6%;
  width: 256px;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  text-align: left;
  color: #FFFFFF;
}

.carousel-indicators {
  left: 37%;
  top: 270px;
  margin-left: -28%;
  z-index: 2;
}
.carousel-control {
  position: absolute;
  top: 266px
}

.carousel-control.left {
  width: 20px;
  height: 25px;
  background: none;
  left: 23%;
  z-index: 5;
}

.carousel-control.right {
  width: 20px;
  height: 25px;
  background: none;
  right: 45%;
  z-index: 5;
}

.carousel-inner > .item > img {
  height: inherit;
}

.carousel-caption button{
  margin-bottom: 30px;
  margin-left: -54%;
  width: 100px;
  height: 29.3px;
  border-radius: 14.6px;
  background-color: transparent;
  border: solid 1px #ffffff;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  color: #ffffff;
  cursor: pointer;
}

.slick-arrow {
  display: block;
  width: 10px;
  height: 20px;
  margin-top: 30px;
  margin-right: 5px;
  cursor: pointer;
}

.carousel-caption button:focus{
  outline: none;
}
@media screen and (min-width: 768px) {

  .carousel-caption {
    right: 0;
    left: 20%;
    padding-bottom: 0;
    width: 300px;
    top: 50px;
  }
}
